<h1>Pages#home</h1>

 <%  if user_signed_in? %>
  <script type="text/javascript">
    window.location.href="/ideas"  // put your correct path in a string here
  </script>
  
<%end%>
<p>Find me in app/views/pages/home.html.erb</p>
