<div class="content_block no_sidebar" id="section_content">

<div class="main" id="main">
<table id="pricing_plans">
<tbody><tr>
<th>&nbsp;</th>
<th>&nbsp;</th>
<th>Идеи</th>
<th>Голоса</th>
<th>&nbsp;</th>
</tr>
<tr class="plan">
<td class="plan_name">
Гений
</td>
<td class="plan_price_99">$50/месяц</td>
<td>5</td>
<td>5</td>
<td><div class="static_tick_icon"></div>
</td>
<td class="plan_signup"><a class="button signup" <%= link_to "Регистрация", new_user_registration_path %></a>
</td>
</tr>
<tr class="plan">
<td class="plan_name">
Опытный генератор идей
</td>
<td class="plan_price_29">$30/месяц</td>
<td>3</td>
<td>3</td>
<td><div class="static_tick_icon"></div>
</td>
<td class="plan_signup"><a class="button signup" <%= link_to "Регистрация", new_user_registration_path %></a>
</td>
</tr>
<tr class="plan">
<td class="plan_name">
Генератор идей
</td>
<td class="plan_price_12">$10/месяц</td>
<td>1</td>
<td>1</td>
<td><div class="static_cross_icon"></div>
</td>
<td class="plan_signup"><a class="button signup" <%= link_to "Регистрация", new_user_registration_path %></a>
</td>
</tr>
<tr class="plan">
<td class="plan_name">
Бесплатно
</td>
<td class="plan_price_0">$0/mo</td>
<td>0</td>
<td>0</td>
<td><div class="static_cross_icon"></div>
</td>
<td class="plan_signup"><a class="button signup" <%= link_to "Регистрация", new_user_registration_path %></a>
</td>
</tr>
</tbody>
</table>
<p>
  Каждый план включает в себя обсуждение идей, и помощь в их реализации.
</p>
<div id="sales_information">
  <div id="special_plans">
    <h3>
      бла бла бла бла бла бла бла
    </h3>
    <p>
      бла бла бла бла бла бла бла бла бал
    </p>
    <ul>
      <li>бла бла бла.</li>
      <li>бла бла бла</li>
      <li>бла бла блабла бла блабла бла блабла бла блабла бла блабла бла блабла бла блабла бла бла
      </li>
<li>бла бла блабла бла блабла бла блабла бла блабла бла блабла бла бла</li>
<li>бла бла блабла бла блабла бла блабла бла блабла бла блабла бла блабла бла бла.</li>
    </ul>
  </div>
 
</div>
</div>

</div>